.cc-window {
  display: block;
  flex-wrap: nowrap;
  font-size: 14px;
  z-index: 9999999;
}

.cc-window.cc-floating {
  flex-direction: row;
}

.cc-window.cc-floating .cc-compliance {
  flex: 0 1 auto;
}

.cc-window.cc-banner {
  align-items: stretch;
}

.cc-banner .cc-message {
  flex: 0 1 auto;
}

.cc-banner .cc-header {
  display: block;
}

.cc-floating .cc-message {
  margin-top: 1em;
}

.cc-banner .cc-message {
  display: block;
  margin-bottom: 1em;
}

.cc-banner .cc-link {
  display: block;
  padding-left: 0;
  padding-right: 0;
}

.cc-compliance {
  margin-top: 1em;
}

.cc-banner .cc-compliance {
  display: block;
  float: right;
  align-items: stretch;
  align-content: stretch;
}

.cc-banner .cc-compliance>.cc-btn {
  float: left;
  flex: 0 1 auto;
}

.cc-overlay {
  position: fixed;
  z-index: 9999998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: background-color .3s linear;
  transition: background-color .3s linear;
}

.cc-overlay.show {
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 414px) and (orientation: portrait),
screen and (max-width: 736px) and (orientation: landscape) {
  .cc-banner .cc-compliance {
    float: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }

  .cc-banner .cc-compliance>.cc-btn {
    float: none;
    -ms-flex: 1;
    flex: 1;
  }
}